* {
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //10px
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.container {
    width: 100rem;
    height: 30rem;
    background-color: rgba(209, 200, 200, 0.799);
    margin: 2rem auto;

    //grid
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);

    gap: 3rem;
}

.item {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;

    &--1 {
        background-color: orangered;
    }
    &--2 {
        background-color: greenyellow;
        grid-row: 1/2;
        grid-column: 3/4;
    }
    &--3 {
        background-color: blueviolet;
    }
    &--4 {
        background-color: palevioletred;
        grid-row: 2/3;
        grid-column: 2/4;
    }
    &--5 {
        background-color: royalblue;
    }
    &--6 {
        background-color: goldenrod;
        grid-row: 1/2;
        grid-column: 1/2;
    }
}

@import "challenge";
